@tailwind base;
@tailwind components;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background: url(images/Wireframe\ -\ 1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center; */
    /* background: gray; */
    min-height: 100vh;
    height: auto;
}

@tailwind utilities;